/* fonts */
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

body {
  font-family: "Poppins", sans-serif;
}

/* home page css */
/* shoping box */
.mainbox {
  display: flex;
  gap: 10px;
  padding: 20px;
  border: 1px solid #3d4348;
  border-radius: 20px;
}

.shopingimg {
  width: 100px;
  border-radius: 10px;
}

/* inner text */
.mainbox1{
  display: flex;
  gap: 10px;
  margin-top: 20px;
}

.innerbox {
  display: flex;
  margin-top: 20px;
  gap: 10px;
}

.innerbox1{
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 20px;
  width: 50%;
  border: 1px solid #3D4348;
  border-radius: 10px;
}

.innerbox2{
  display: flex;
  flex-direction: column;
  padding: 20px;
  width: 50%;
  margin-top: 20px;
  border: 1px solid #3D4348;
  border-radius: 10px;
}



.imgdetails {
  color: #eee692;
  padding-bottom: 25px;
  font-weight: 500 !important;
  font-size: 15px !important;
  line-height: 18px !important;
  font-family: "Poppins", sans-serif !important;
}

.headtext {
  width: 90%;
  color: #fff;
  font-weight: 400 !important;
  font-size: 16px !important;
  line-height: 24px !important;
  padding-top: 20px;
  font-family: "Poppins", sans-serif !important;
}

.innertext {
  color: #eee692;
  font-weight: 500 !important;
  font-size: 15px !important;
  line-height: 18px !important;
  font-family: "Poppins", sans-serif !important;
}

.innerpara {
  color: #fff;
  font-weight: 400 !important;
  font-size: 16px !important;
  line-height: 24px !important;
  font-family: "Poppins", sans-serif !important;
}

.innerpara1 {
  padding-top: 20px;
  width: 95%;
  color: #fff;
  font-weight: 400 !important;
  font-size: 16px !important;
  line-height: 24px !important;
  font-family: "Poppins", sans-serif !important;
}

/* home page ends */
